<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../styles/contrast.css">
    <title>Document</title>
</head>

<body>
    <div class="layout">
        <div class="header">

        </div>
        <div class="content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">大家电</a>
                    <div class="mui-collapse-content">
                            
                          </div>
                </li>
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">图片轮播</a>
                    <div class="mui-collapse-content">
                            4
                          </div>
                </li>
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">文字排版</a>
                    <div class="mui-collapse-content">
                      4
                    </div>
                </li>
            </ul>
        </div>
    </div>










    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/mui/js/mui.js"></script>
    <script src="../lib/iscroll/iscroll.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/contrast.js"></script>

</body>

</html>