.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  background: #eee;
  flex-direction: column;
}
.header {
  height: 30px;
  background: #ff841d;
  padding: 4px;
}
.content {
  flex: 1;
  overflow: scroll;
}
